<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- MageDrop button virtual types -->
    <virtualType name="MageDrop\Magento2\Ui\Component\MageDropButton\CmsPage"
                 type="MageDrop\Magento2\Ui\Component\MageDropButton">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_page</argument>
            <argument name="entityIdParam" xsi:type="string">page_id</argument>
            <argument name="formName" xsi:type="string">cms_page_form.cms_page_form</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageDrop\Magento2\Ui\Component\MageDropButton\CmsBlock"
                 type="MageDrop\Magento2\Ui\Component\MageDropButton">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_block</argument>
            <argument name="entityIdParam" xsi:type="string">block_id</argument>
            <argument name="formName" xsi:type="string">cms_block_form.cms_block_form</argument>
        </arguments>
    </virtualType>

    <!-- LoadNotice block virtual types -->
    <virtualType name="MageDrop\Magento2\Block\Adminhtml\LoadNotice\CmsPage"
                 type="MageDrop\Magento2\Block\Adminhtml\LoadNotice">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_page</argument>
            <argument name="entityIdParam" xsi:type="string">page_id</argument>
            <argument name="editRoute" xsi:type="string">cms/page/edit</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageDrop\Magento2\Block\Adminhtml\LoadNotice\CmsBlock"
                 type="MageDrop\Magento2\Block\Adminhtml\LoadNotice">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_block</argument>
            <argument name="entityIdParam" xsi:type="string">block_id</argument>
            <argument name="editRoute" xsi:type="string">cms/block/edit</argument>
        </arguments>
    </virtualType>

    <!-- Plugins use concrete subclasses instead of virtual types due to
         Magento bug: di:compile can't generate interceptors for virtual types.
         See https://github.com/magento/magento2/issues/36387 -->

    <!-- Intercept CMS Page save -->
    <type name="Magento\Cms\Controller\Adminhtml\Page\Save">
        <plugin name="magedrop_stage_cms_page"
                type="MageDrop\Magento2\Plugin\Adminhtml\Stage\CmsPageStageSavePlugin"
                sortOrder="10"/>
    </type>

    <!-- Intercept CMS Block save -->
    <type name="Magento\Cms\Controller\Adminhtml\Block\Save">
        <plugin name="magedrop_stage_cms_block"
                type="MageDrop\Magento2\Plugin\Adminhtml\Stage\CmsBlockStageSavePlugin"
                sortOrder="10"/>
    </type>

    <!-- Load staged changes into CMS Page form -->
    <type name="Magento\Cms\Model\Page\DataProvider">
        <plugin name="magedrop_load_changes_page"
                type="MageDrop\Magento2\Plugin\Adminhtml\DataProvider\CmsPageLoadChangesPlugin"
                sortOrder="10"/>
    </type>

    <!-- Load staged changes into CMS Block form -->
    <type name="Magento\Cms\Model\Block\DataProvider">
        <plugin name="magedrop_load_changes_block"
                type="MageDrop\Magento2\Plugin\Adminhtml\DataProvider\CmsBlockLoadChangesPlugin"
                sortOrder="10"/>
    </type>

</config>
